[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=HamoniKR Installer
GenericName=HamoniKR Installer
Comment=HamoniKR Installer
Exec=remsu /usr/bin/calamares
Icon=calamares
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System
