[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=HamoniKR Installer
GenericName=HamoniKR Installer
Comment=HamoniKR Installer
Exec=sh -c "pkexec calamares"
Icon=calamares
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System
